:root {
    --checkout-max-width: 1100px;
}

.Checkout {
    padding-bottom: var(--header-nav-height);

    @include desktop {
        margin-top: var(--header-total-height);
    }

    @include before-desktop {
        padding-bottom: calc(var(--navigation-tabs-height) + 113px);
        padding-top: 2rem;
    }

    /*&::before {
        @include after-mobile {
            content: '';
            background: var(--breadcrumbs-background);
            min-height: var(--breadcrumbs-height);
            display: block;
        }
    }*/
    .ProgressBar {
        padding-top: 5px;
        display: flex;
        position: relative;
    }

    .ProgressBar-Bar {
        position: absolute;
        height: 5px;
        background: var(--primary-base-color);
        max-width: 100%;
        top: 35%;
        z-index: 1;
        transition: width 1s ease;
    }

    .ActiveStep {
        background-color: var(--primary-base-color) !important;
        color: white;
    }

    .FinishedStep {
        background-color: var(--primary-base-color) !important;
        color: white;
    }
    
    .CheckIconContainer {
        min-width: 30px;
        height: 30px;
    }

    .CheckIcon {
        position: relative;
        top: 10px;
        left: 8px;
        width: 16px;
        height: 8px;
        transform: rotate(135deg);
        border-right: 2px solid white;
        border-top: 2px solid white;
    }
    .ProgressList {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
    }

    .ProgressList::before {
        content: "";
        width: 100%;
        position: absolute;
        background-color: lightgray;
        z-index: 0;
        height: 5px;
        top: 30%;
        left: 0;
        
    }

    .ProgressStep {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ProgressStepContainer {
        display: flex;
    }
    .ProgressIndex::before {
        content: "";
        position: relative;
        background-color: white;
        z-index: 1;
        min-width: 20%;
    }

    .ProgressIndex::after {
        content: "";
        position: relative;
        background-color: white;
        z-index: 1;
        min-width: 20%;
        width: 100px;
        height: 100%;
        border-radius: 15px;
    } 

    .ProgressIndex {
        justify-content: center;
        display: flex;
        border-radius: 100%;
        background-color: lightgray;
        width: 30px;
        height: 30px;
        text-align: center;
        z-index: 6;
        line-height: 25px;
    }
    .ProgressIndex > p {
        padding-top: 4px;
        padding-left: 11px;
        padding-right: 11px;
    }
    &-StickyButtonWrapper {
        @include before-desktop {
            border-top: 1px solid var(--primary-divider-color);
            background-color: #fff;
            position: fixed;
            padding: 1.2rem 1.2rem calc(env(safe-area-inset-bottom) + 1.2rem);
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 85;
        }

        @include mobile {
            background-color: var(--secondary-base-color);
            padding: 1.4rem 1.4rem calc(env(safe-area-inset-bottom) + 1.4rem);
        }

        .Button {
            @include mobile {
                width: 100%;
            }
        }
    }

    &-Wrapper {
        max-width: var(--checkout-max-width);

        @include after-mobile {
            display: grid;
            grid-template-columns: repeat(2, minmax(calc(50% - 1.2rem), 470px));
            grid-gap: 2.4rem;
        }
    }

    &-Heading {
        text-transform: none;
        font-weight: 400;
        font-size: 2rem;
        margin: 0 0 1.2rem;

        @include mobile {
            margin: 0 0 1.4rem;
        }
    }

    &-Title {
        text-transform: capitalize;
        margin: 2.4rem 0;

        @include mobile {
            margin: 2.8rem 0;
            display: none;
        }
    }

    &-Coupon {
        @include desktop {
            margin-top: 30px;
        }
    }

    &-OrderTotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
        font-weight: bold;
        padding-bottom: 1.4rem;

        @include after-mobile {
            display: none;
        }
    }

    .Checkout-ExpandableContentContent {
        margin-top: 0;
    }
}
